[MASTER]
persistent=no
dummy-variables-rgx=(_+[a-zA-Z0-9]*?$)|dummy|unused

[MESSAGES CONTROL]
disable=missing-module-docstring,missing-class-docstring,missing-function-docstring,bad-whitespace,invalid-name,line-too-long,redefined-builtin,too-many-statements,too-many-branches,too-many-locals,too-many-arguments,broad-except,consider-using-sys-exit,len-as-condition,no-else-continue,duplicate-code

[REPORTS]
output-format=text
