name: python-lint
  
on:
  push:
    branches:
      - master
    paths:
      - "certhash"
      - "sgnfile"
      - "stripsgn"
      - "tlvfile"
      - "enccnf"
      - ".pylintrc"
      - ".github/workflows/pylint.yml"

  pull_request:
    branches:
      - master
    paths:
      - "certhash"
      - "sgnfile"
      - "stripsgn"
      - "tlvfile"
      - "enccnf"
      - ".pylintrc"
      - ".github/workflows/pylint.yml"

  schedule:
    - cron: "0 8 1 * *"

  workflow_dispatch:

jobs:
  lint:
    name: Run python linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@main

      - name: Install packages
        run: |
          sudo apt update
          sudo apt install pylint python3-cryptography python3-lxml

      - name: Run pylint 
        run: |
          pylint certhash sgnfile stripsgn tlvfile enccnf
